.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.file-input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 4px;
    background-color: #282828;
    color: #ffffff;
}

.upload-button {
    padding: 10px 20px;
    background-color: #6441a5;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button:hover {
    background-color: #4a2d7c;
}

.upload-status {
    margin-top: 20px;
    font-weight: bold;
}

.home-button{
    margin: 10px;
    padding: 10px;
    background-color: #404040;
    color: white;
    border-radius: 10px;
    border: none;
}
.home-button:hover{
    background-color: #8a8181;
    
}